button {
  border: 0;
  display: block;
  padding: 5px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.login-form > button,
.task-form > button,
.filter > button{
  height: 50px;
  width: 186px;
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  transition: all 0.2s ease;
}

.login-form > button:hover,
.task-form > button:hover,
.filter > button:hover{
  /* transform: translateY(-4px); */
  box-shadow: 1px 1px 13px rgb(197 116 255);
}

.filter > button{
  margin-bottom: 16px;
}

.login-form > button{
  margin-top: 16px;
}