
.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
  text-align: center;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
  text-align: center;
  color: white;
}

.login-form > div > input:target {
  color: white;
}

.login-form > div > input:focus {
  text-align: center;
}

.task-form {
  display: flex;
  margin: 16px 0;
}

.task-form > input {
  font-style: italic;
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 16px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  color: white;
}

input:focus {
  outline: 0;
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 3px white;
}